[mariadb]
port = 3306

[client]
port = 3306
protocol = tcp

[mariadbd]
port = 3306
datadir= /var/lib/mysql
bind-address = 0.0.0.0
skip-networking = false
socket = /var/run/mysqld/mysqld.sock
skip_external_locking